# =============== #
# Unity generated #
# =============== #
*Thumbs.db*
*.userprefs
*.mbd
*.pidb

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Library/
*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.sln
*.unityproj
